## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
print(pow(7,4))

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [3]:
s="Hi there Sam!"
print(s.split())

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [4]:
planet = "Earth"
diameter = 12742

In [5]:
print('The diameter of {one} is {two} kilometers'.format (one=planet,two=diameter))

The diameter of Earth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [6]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
h = lst[3][1][2]
print(h)

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [7]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [8]:
print("The list are mutable whereas Tupeles are Immutable")

The list are mutable whereas Tupeles are Immutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [9]:
def domain(mail):
    print(mail.split('@')[-1])

In [10]:
mail = "user@domain.com"
domain(mail)

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [11]:
pet = "dog"
if(pet == "dog"):
  print("True")
else:
  print("False")

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [12]:
sentence = "dog is a pet animal my dog name is jacky my dog ig a good dog"

In [13]:
list = sentence.split()
count = 0
for i in range(0,len(list)):
  if (list[i] == "dog"):
    count  +=1
print("The Word Dog occurs",count,"times!")

The Word Dog occurs 4 times!

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [14]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [15]:
caught_speeding(86,True)

'Big Ticket'

In [16]:
caught_speeding(61,False)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [17]:
empSalary = [20000,25000,30000,35000,40000]
sum = 0
for i in range(0,len(empSalary)):
  sum += empSalary[i]
print(sum)

150000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [18]:
dic1 = { 'Empid': [101,102], 'EmpName':["Kathir","Velan"] }
dic2 = {'DeptName': ["IT","ECE"], 'Deptid':[205,206]}
dic3 = {**dic1, **dic2}
print(dic3)

{'Empid': [101, 102], 'EmpName': ['Kathir', 'Velan'], 'DeptName': ['IT', 'ECE'], 'Deptid': [205, 206]}